<html lang='en'>
  <head>
    <title>Santa Data</title>
    <link
      id='favicon'
      rel='icon'
      href='https://glitch.com/edit/favicon-app.ico'
      type='image/x-icon'
    />
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='/style.css' />
    <script src='/client.js' defer></script>
  </head>

  <body>
    <header>
      <h1>A letter to Santa</h1>
    </header>

    <main>
      <p class='bold'>Ho ho ho, what you want for christma?</p>

      <form method='post' action='/santa-data/message'>
        who are you?
        <input name='name' placeholder='charlie.brown' />
        what do you want for christmas?
        <textarea
          name='message'
          rows='10'
          cols='45'
          maxlength='100'
          placeholder='Gifts!'
        ></textarea>
        <br />
        <button type='submit' id='submit-letter'>Send</button>
      </form>
    </main>
  </body>
</html>