<html lang='en'>
  <head>
    <title>Santa Data</title>
    <link
      id='favicon'
      rel='icon'
      href='https://glitch.com/edit/favicon-app.ico'
      type='image/x-icon'
    />
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='/style.css' />
    <script src='/client.js' defer></script>
  </head>

  <body>
    <header>
      <h1>A letter to Santa</h1>
    </header>

    <main>
      <p class='bold'>
        There was an error submitting your message to santa:
      </p>
      <p>
        {{errorDetails}}
      </p>
    </main>
  </body>
</html>